.header {
  display flex
  flex-direction column
  justify-content center
  align-items center
  background-color #22333b
  height 100vh
  position relative
  z-index 1
}

.title {
  color #fefefe
  margin 0
  padding-bottom 50px
  font-size 80px
  font-weight 900
  letter-spacing 3px
}

.subtitle {
  color #fefefe
  margin 0
  font-size 44px
  font-weight 400
  letter-spacing 1px
}