.header {
  display flex
  flex-direction column
  justify-content center
  align-items center
  background-color #fafafa
  height 95vh
  position relative
  z-index 1
}

.title {
  color #191919
  margin 0
  padding-bottom 50px
  font-size 8vw
  font-weight 900
  letter-spacing 3px
}

.subtitle {
  color #191919
  margin 0
  font-size 5vw
  font-weight 400
  letter-spacing 1px
}

.arrow {
  position absolute
  width 70px
  height 70px
  border-radius 50%
  background-color #22333b
  color #fafafa !important
  display flex
  justify-content center
  align-items center
  font-size 40px
  bottom 70px
  cursor pointer
  a {
    color #fafafa !important
  }
}