.sidebar {
  display flex
  flex-direction column
  width 300px
  background #191919
  justify-content space-around
  align-items center
  height 100vh
  position fixed
  top 0
  left 0
}

.arrowUp {
  cursor pointer
  font-size 40px
  color #F64740
  transition all 0.1s
  &:hover,
  &:active,
  &:focus {
    color #EAE0D5
  }
}